.faq-component {
  padding: 10px 30px;
  margin: 15px;
  /* box-shadow: 1px 1px 20px 30px rgba(0, 0, 0, 0.3); */
  background-color: #ffffff;
  border-radius: 5px;
}
.faq-component p {
  margin: 10px 0px;
  line-height: 160%;
}
.faq-component p b {
  font-weight: 600;
}

.faq-component li {
  list-style: inherit;
  text-align: justify;
  margin-left: 20px;
}
.faq-component li p:first-child {
  color: var(--frame-color);
  margin: 20px 0px;
}

.faq-component :is(h2, h3) {
  text-align: left;
  margin: 30px 0px;
  color: var(--frame-color);
  font-weight: 600;
}
.faq-component h2 {
  text-align: center;
}
