.faq-component {
  /* margin: 15px; */
  /* box-shadow: 1px 1px 20px 30px rgba(0, 0, 0, 0.3); */
  /* border-radius: 5px; */
}
.faq-sections {
  margin: 10px 0px;
  background-color: #ffffff;
}
.faq-component p {
  margin: 10px 0px;
  font-size: 16px;
  line-height: 160%;
}
.faq-component p b {
  font-weight: 600;
}
.faq-component li {
  list-style: inherit;
  text-align: justify;
  margin-left: 20px;
}
.faq-component li p:first-child {
  font-weight: 600;
}
.faq-section__title {
  color: var(--frame-color);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq-sections > :is(ol, ul) {
  padding: 10px 20px;
}
.faq-component :is(h2, h3) {
  text-align: left;
  /* margin: 20px 0px; */
  color: var(--frame-color);
  font-weight: 500;
  font-size: 16px;
}
.faq-section__icon {
  color: #000000;
  font-size: 20px;
  transition: all 0.3s;
}
.icon_up {
  transform: rotate(180deg);
}
