.refund-page__select-item {
  display: flex;
  margin: 10px 0px;
  align-items: center;
}
.refund-page__drop-container {
  width: 100%;
  max-width: 200px;
  margin: 0px 20px;
}

.refund-page__text_bold {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-dark-color);
}

.refund-page__refund-status-item {
  display: flex;
  align-items: center;
  position: relative;
}
.refund-page__refund-status-item + .refund-page__refund-status-item::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background: var(--frame-color);
  left: 13px;
  top: 0px;
  /* z-index: -10; */
  transform: translateY(-50%);
}
.refund-page__refund-status-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 10px 0px;
  color: var(--text-dark-color);
}
.refund-page__refund-shipping {
  margin-top: 40px;
}
.refund-page__shipping-rate-input {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 20px;
  margin: 10px 0px;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.refund-page__quantity {
  text-align: center;
}
.horinzontal-bar {
  height: 0.5px;
  background-color: #b1b6be;
  margin: 10px 10px;
}
/* summary price estimation */
.refund-page__price-summary-table {
  width: 100%;
}
.refund-page__price-summary-table tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.refund-page__price-summary-table td {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 5px 0px;

  color: var(--text-dark-color);
}
.refund-page__price-summary-table #total-refund td {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

/*  */
.refund-page__refund-item-data {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
}
.refund-page__product-detail {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.refund-page__product-detail + .refund-page__product-detail {
  border-bottom: 1px solid black;
}
.refund-page__product-data {
  display: flex;
  align-items: center;
}
.refund-page__product-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 5px 0px;
  color: var(--text-dark-color);
}
.refund-page__product-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
.refund-page__product-count {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: var(--text-dark-color);
  border-radius: 5px;
  width: fit-content;
  padding: 5px 10px;
  justify-content: center;
}
.refund-page__product-count input{
  font-family: var(--font-family-main);
}
.refund-page__product-count input {
  border: none;
  outline: none;
  width: 40px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.refund-page__product-refund-total {
}
