.dropdown {
  /* margin: 0 auto; */
  z-index: 100;
  width: 100%;
  position: relative;
}
.dropdown,
.dropdown * {
  z-index: 10;
}
.dropdown .dropdown-btn {
  cursor: pointer;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border: 1.5px solid rgba(182, 32, 40, 0.4);
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 14px;
}
.dropdown-btn span{
  color:var(--frame-color)
}
.dropdown-content {
  position: absolute;
  background-color: var(--text-color);
  /* top: 110%; */
  left: 0;
  width: 100%;
  border: 1.5px solid rgba(182, 32, 40, 0.2);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
.dropdown-content .item {
  padding: 5px 10px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
  font-size: 14px;
}
.dropdown-content .item:hover {
  color: var(--text-color);
  background: var(--frame-color);
}

button {
  z-index: -1;
  display: block;
  width: 100%;
  margin: 0 auto;
}
