.listing-table {
  width: 100%;
  padding: 0px 0px;
  border-spacing: 0;
}
.listing-table tr {
  display: grid;
}
/* for trasaction table grid */
.trasaction-table tr {
  grid-template-columns: repeat(6, auto);
}
/* for refund table grid */

.refund-table tr {
  grid-template-columns: repeat(10, 1fr);
}

/* resend mail table grid */
.resend-table tr {
  grid-template-columns: repeat(4, 1fr);
}

/* for all table fields */
.listing-table thead tr {
  /* background: rgba(151, 151, 151, 0.6); */
  background: rgba(182, 32, 40, 0.3);
  padding: 0px 5px;
  margin-bottom: 10px;
}
.listing-table thead tr th {
  margin: 5px;
  padding: 10px;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #000000;
}
.listing-table tbody tr {
  margin: 10px 0px;
}
.listing-table tbody tr {
  background: rgba(202, 201, 201, 0.3);
}
/* .listing-table tbody tr:nth-child(odd) {
  background: rgba(182, 32, 40, 0.2);
} */
.listing-table tbody tr td {
  text-align: center;
  padding: 10px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-dark-color);
}

.listing-table tbody tr td[id="action"] a {
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark-color);
}

/* refund table initiate refund */

.listing-table .refund-success,
.listing-table .refund-unsuccess {
  display: block;
  text-decoration: none;
  width: 80%;
  padding: 5px;
  margin: 0 auto;
  border-radius: 10px;
}
.listing-table .refund-success {
  color: #ffffff;
  background-color: var(--frame-color);
}
.listing-table .refund-unsuccess {
  color: var(--frame-color);
  background-color: rgba(182, 32, 40, 0.3);
}
.gc-table__actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.refund-list__completed {
  color: rgb(0, 176, 0);
  text-shadow: 0px 0px #000000;
}
.refund-table {
  width: max-content !important;
}

/* @media only screen and (max-width: 900px) {
  .refund-list__containe-table {
    width: 100%;
    overflow-x: auto;
  }
  .refund-table {
    width: max-content !important;
  }
} */
