.transaction-detail__container {
  width: 100%;
}
.transaction-detail__box-bg {
  padding: 20px 50px;
  background: #ffffff;
}
.gift-card__text-box-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  column-gap: 15px;
  margin: 0px 0px;
}
.transaction-detail__plan-fees {
  padding: 20px 50px 40px 50px;
}
.gift-card__text-box {
  background: #ffffff;
  width: 100%;
  padding: 0px 12px;
  /* border: 2px solid rgba(0, 0, 0, 0.2); */
  position: relative;
}
#total::after {
  content: "(GST not Incl)";
  position: absolute;
  top: 70%;
  /* left: 100%; */
  width: 100%;
  color: #00000099;
}
.transaction-detail__plan-data {
  display: grid;
  grid-template-columns: 2fr 1.3fr;
  gap: 20px;
}
.transaction-detail__plan-amount {
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;

  color: var(--text-dark-color);
}
.transaction-detail__due-amount {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  margin: 10px 0px;
  color: var(--text-dark-color);
}
.transaction-detail__plan-due-date {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: left;

  color: #b62028;
}

.transaction-detail__plan-charges {
  margin: 10px 0px;
}

.transaction-detail__plan-fees {
  margin: 10px 0px;
}

.transaction-detail__detail-heading {
  font-weight: 500;
  margin-bottom: 20px;
}
