.plan-selection-container {
  background-color: var(--background-color);
}
/* terms and checkbox */
.terms-check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.terms-check,
.terms-check a {
  margin: 0px 5px;
  color: var(--frame-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
input[type="checkbox"] {
  cursor: pointer;
  margin: 0px 5px;
  background-color: var(--frame-color) !important;
  border-color: var(--frame-color);
  accent-color: var(--frame-color);
}

/* enterprise box */
.enterprise_plan-box {
  max-width: 500px;
  height: 100%;
  text-align: center;
  padding: 15px 10px 30px 10px;
  margin: 50px auto;
  border-radius: 10px;
  background-color: var(--background-light-color);
}
.box-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 20px 0 40px 0;
  color: var(--text-light-color);
}
.enterprise_plan-box a {
  border-radius: 10px;
  padding: 14px 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--secondary-bold-btn);
  text-decoration: none;
  border: 1px solid var(--secondary-bold-btn);
}
.enterprise_plan-box a span {
  text-decoration: underline;
}

/* table style */
.plan-selection-container table {
  border: 1px solid #707070;
  width: 100%;
  border-spacing: 0;
}
.plan-table tr {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
}

.plan-table th {
  color: var(--text-color);
  background-color: var(--frame-color);
  padding: 15px 0px;
}
.plan-table tr:nth-child(odd) {
  background-color: #b1b6be3b;
}
.plan-table td {
  padding: 15px;
}
.plan-table td:not(:first-child) {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #707070;
}
.plan-table th:not(:first-child) {
  border-left: 1px solid #ffffff;
}
.dash {
  width: 12px;
  height: 2px;
  background-color: #b1b6be;
}

.plans {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px 0;
}

.package-detail {
  display: flex;
  width: 50%;
  margin: 30px auto;
  background-color: var(--background-light-color);
}

.plan-box-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #181c2d;
}
.plan-selection__plan-type {
  color: var(--text-color);
  font-size: 14px;
  background-color: var(--frame-color);
  border-radius: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 230px;
  height: 35px;
  margin: 10px auto;
}
.plan-selection__plan-annually {
  background-color: var(--text-color);
  width: 100%;
  height: 100%;
  color: var(--frame-color);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* terms popup  */
.terms-pop__container {
  position: fixed;
  inset: 0;
  padding: 50px;
  margin: 20px;
  box-shadow: 1px 1px 20px 30px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  border-radius: 10px;
  overflow-y: auto;
  z-index: 20;
}
.terms-pop__container li {
  list-style: inherit;
  text-align: justify;
  margin-left: 20px;
}
.terms-pop__container h2,
.terms-pop__container h3 {
  text-align: center;
  margin: 10px;
}
.terms-pop__container table {
  border-collapse: collapse;
  width: 100%;
}
.terms-pop__container table th,
.terms-pop__container table td {
  border: 1px solid black;
  text-align: left;
  padding: 5px;
}
/* payment popup */
.payment-confirm-popup {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  /* background-color: #ffffff;
  width: 20%;
  height: 10%; */
  background-color: rgba(0, 0, 0, 0.4);
}
.payment-form {
  display: flex;
  background-color: #ffffff;
  width: 60%;
  height: 40%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  padding: 30px;
  text-align: center;
}
.payment-confirm-btns {
  display: flex;
  column-gap: 50px;
}
.payment-btn {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  height: 30px;
  background-color: var(--frame-color);
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.subscription-note {
  font-size: 14px;
  text-align: center;
  color: var(--text-dark-color);
}

.plan-check {
  color: rgb(0, 139, 0);
  font-size: 30px;
  width: 100%;
  margin: 0px auto;
}
.plan-cross {
  width: 100%;
  color: rgb(218, 1, 1);
  font-size: 22px;
  margin: 0px auto;
}
.inline-table-text {
  font-weight: 400;
}
.plan-table__note{
  margin: 20px 0px;
}
@media only screen and (max-width: 900px) {
  .plans {
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 20px;
  }
  .payment-form {
    height: 20%;
    width: 60%;
  }
}
